apiVersion: v1
values:
  images:
    traefik: docker.io/traefik:v3.6.2
patches:
  values.yaml:
    traefik:
      image:
        registry: "{{ registryFrom .images.traefik }}"
        repository: "{{ repositoryFrom .images.traefik }}"
        tag: "{{ tagFrom .images.traefik }}"
