traefik:
  enabled: true
  installCRDs: true
  deployment:
    additionalVolumes:
      - name: rewritebody-src
        configMap:
          name: ces-gateway-traefik-plugin-rewritebody
      - name: ces-error-pages-src
        configMap:
          name: ces-gateway-traefik-plugin-ces-error-pages

    additionalVolumeMounts:
        - name: rewritebody-src
          mountPath: /plugins-local/src/github.com/traefik/plugin-rewritebody
          readOnly: true
        - name: ces-error-pages-src
          mountPath: /plugins-local/src/github.com/traefik/plugin-ces-error-pages
          readOnly: true

  experimental:
    localPlugins:
      rewritebody:
        moduleName: github.com/traefik/plugin-rewritebody
        mountPath: /plugins-local/src/github.com/traefik/plugin-rewritebody
        type: localPath
        volumeName: rewritebody-src
      ces-error-pages:
        moduleName: github.com/traefik/plugin-ces-error-pages
        mountPath: /plugins-local/src/github.com/traefik/plugin-ces-error-pages
        type: localPath
        volumeName: ces-error-pages-src

  image:
    registry: docker.io
    repository: traefik
    tag:  v3.6.2
    pullPolicy: IfNotPresent

  ingressClass:
    enabled: true
    isDefaultClass: true
    name: "k8s-ecosystem-ces-service"

  ingressRoute:
    dashboard:
      enabled: true

  providers:
    kubernetesIngress:
      enabled: true
      ingressClass: k8s-ecosystem-ces-service
      namespaces: []
    kubernetesCRD:
      enabled: true
      namespaces: []

  logs:
    general:
      level: "DEBUG"  # DEBUG, INFO, WARN, ERROR
    access:
      enabled: true

  ports:
    web:
      port: 80
      exposedPort: 80
    websecure:
      port: 443
      exposedPort: 443
      middlewares:
        - ecosystem-ces-chain@kubernetescrd
        - ecosystem-ces-error@kubernetescrd
  service:
    enabled: false

  tlsStore:
    default:
      defaultCertificate:
        secretName: ecosystem-certificate