traefik:
  enabled: true

  deployment:
    additionalVolumes:
      - name: rewritebody-src
        configMap:
          name: ces-gateway-traefik-plugins

    additionalVolumeMounts:
        - name: rewritebody-src
          mountPath: /plugins-local/src/github.com/traefik/plugin-rewritebody
          readOnly: true

  experimental:
    localPlugins:
      rewritebody:
        moduleName: github.com/traefik/plugin-rewritebody
        mountPath: /plugins-local/src/github.com/traefik/plugin-rewritebody
        type: localPath
        volumeName: rewritebody-src

  image:
    registry: docker.io
    repository: traefik
    tag:  v3.6.2
    pullPolicy: IfNotPresent

  ingressClass:
    enabled: true
    isDefaultClass: true
    name: "k8s-ecosystem-ces-service"

  ingressRoute:
    dashboard:
      enabled: true

  providers:
    kubernetesIngress:
      enabled: false
      ingressClass: k8s-ecosystem-ces-service
    kubernetesCRD:
      enabled: true
    kubernetesIngressNginx:
      enabled: true
      controllerClass: "traefik.io/ingress-controller"
      ingressClass: k8s-ecosystem-ces-service

  logs:
    general:
      level: "DEBUG"  # @schema enum:[TRACE,DEBUG,INFO,WARN,ERROR,FATAL,PANIC]; default: "INFO"
    access:
      enabled: true

  ports:
    web:
      port: 80
      exposedPort: 80
    websecure:
      port: 443
      exposedPort: 443
      middlewares:
        - ecosystem-ces-chain@kubernetescrd
        - ecosystem-ces-error-pages@kubernetescrd

  service:
    enabled: false

  tlsStore:
    default:
      defaultCertificate:
        secretName: ecosystem-certificate