# this is just an example application for testing and could be any Deployment, Pod or whatever
apiVersion: v1
kind: ReplicationController
metadata:
  name: http-svc
  labels:
    app.kubernetes.io/name: http-svc
    app.kubernetes.io/part-of: ingress-nginx
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app.kubernetes.io/name: http-svc
        app.kubernetes.io/part-of: ingress-nginx
    spec:
      containers:
        - name: http-svc
          image: registry.k8s.io/e2e-test-images/echoserver:2.5
          ports:
            - containerPort: 8080
          env:
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
---
# we always need a service for anything we want to redirect to
apiVersion: v1
kind: Service
metadata:
  name: http-svc
  labels:
    app.kubernetes.io/name: http-svc
    app.kubernetes.io/part-of: ingress-nginx
spec:
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: http-svc
    app.kubernetes.io/part-of: ingress-nginx
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: foo-tls
  namespace: ingress-test
spec:
  # The ingress class of our EcoSystem
  ingressClassName: k8s-ecosystem-ces-service
  tls:
    # TLS certificates for the hosts you want to add rules for
    - hosts:
        - "34.179.143.69.nip.io"
      # This secret must exist beforehand
      # The cert must also contain the subj-name foo.bar.invalid
      secretName: foo.tls
  rules:
    # Rules for the services we want to redirect our traffic to
    - host: "34.179.143.69.nip.io"
      http:
        paths:
          - path: /test
            pathType: Prefix
            backend:
              service:
                name: http-svc
                port:
                  number: 80